* {
	padding: 0;
	margin: 0;
}
body {
	height: 100vh;
	width: 100%;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
}
header {
	height: 50px;
	width: 100%;
	background-image: linear-gradient(
		to right top,
		#c0debd,
		#cbd4af,
		#d3c9a7,
		#d7bea5,
		#d7b5a6,
		#d9b2ae,
		#d7b0b7,
		#d0b0c1,
		#c8b7d2,
		#b9bfde,
		#a9c8e3,
		#9dd0e0
	);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.submit-postbtn {
	height: 100px;
	background-color: green;
}
