:root{
    *{
        margin: 0;
        padding: 0;
        font-size: 20px;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    h1{
        color: white;
        position: absolute;
        margin: 10px;
        left: 65%;
        font-size: 45px;
        top: 20px;
    }
    body{
        height: 100vh;
	    width: 100%;
        display: flex;
        background-image: url("../RIC.png");
        background-position: 50%;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }
    form{
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 450px;
        width: 400px;
        border: 4px solid rgba(0, 0, 0, 0.459);
        background-color: transparent;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
    }
    input{
        background-color: transparent;
        border: 3px solid rgba(0, 0, 0, 0.459);
        border-radius: 20px;
        width: 350px;
        color: white;
        padding: 10px;
        margin: 15px;
    }
    /* input:focus{
        border: 1px solid transparent;
        color: black;
        box-shadow: 3px 5px 3px #034C53;
    } */
    p{
        margin: 15px;
        color: white;
    }
    
    .login{
        position: absolute;
        left: 60%;
    }
    .login-bbtn{    
        width: 200px;  
        margin: 5px;
        border-radius: 50px;
        height: 50px;
        color: white;
        background-image: linear-gradient(to right top, #0d074c, #050d4a, #001248, #001545, #001841, #00193e, #00193b, #021a38, #021a36, #021933, #021931, #03182e);
        border: 3px solid rgba(0, 0, 0, 0.459);
    }

    .reset-password{
        border: 0;
        text-decoration: none;
        background: transparent;
    }
    .sign-up{
        border: 0;
        background: transparent;
    }
    .reset-password:hover{
        color: grey;
    }
    .sign-up:hover{
        color: grey;
    }
    .login-bbtn:hover{
        color: grey;

    }

}